.next
node_modules/
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.next/**
.next/*
out/
*.log
*.lock
*.cache
*.tgz
*.zip
*.tar.gz
*.tar.bz2
*.tar.xz
*.tar.lz
*.tar.lzo
*.tar.lzma  